<div class="row text-center">
	<div class="col-12 my-5">
		<img src="../images/forum/error/tinyfied/sorry.jpg" alt="Well, it happens to the best of us...">
	</div>
	<div class="col-12">
		<p>Unfortunately, it seems that we have some issues displaying our forum :(...</p>
		<p><span style="font-size:2.8em;">.</span><span style="font-size:3.2em;">.</span><span style="font-size:2.8em;">.</span> <span style="font-size:1.8em;">ugh,</span> <span class="custom-green-text" style="font-size: 2em;">we're really sorry about this!</span></p>
		<p>Please, come back later and have a beautiful day!</p>
	</div>
</div>