.legito-green {
	background: #74c078;
}

.header {
	overflow: hidden;
	background-color: #74c078;
	padding: 20px 10px;
}

.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	text-decoration: none !important;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	background-color: #F5F3EE;
	color: black;
}

.header a.active {
	background-color: white;
	color: black;
}

.header-right {
	float: right;
}

.header-btn {
	margin-right: 5px;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}

	.header-right {
		float: none;
	}
}

.green-border{
	border:15px solid #74c078 ;
}

.custom-submit-btn{
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	width: 100%;
	background: #74c078;
	border-radius: 4px;
	text-decoration: none !important;
}

.custom-green-text{
	font-weight: bold;
	font-size: 1.2em;
	color: #74c078;
}

.no-text-decoration{
	text-decoration: none !important;
	color: black;
}

.no-text-decoration:hover{
	color: #74c078;
}

.glow {
	padding: 5px;
	background: white;
	-webkit-transition: color 5s;
    -moz-transition:    color 5s;
    -ms-transition:     color 5s;
    -o-transition:      color 5s;
    transition:         color 5s;
}
.glow:hover{
	background: #e1f5da;

}